.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
}

.question-card,
.result-card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

h1{
    font-size: 3rem;
    margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 20px;
}

.options button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.options button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.result-card button {
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff4081;
    color: white;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.result-card button:hover {
    background-color: #f50057;
}
